        <!-- start footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col col-md-3 col-sm-6">
                        <div class="widget about-widget">
                            <!-- <div class="footer-logo">
                                <img src="images/footer-logo.png" alt class="img img-responsive">
                            </div> -->
                            <div class="company-info">
                                <h2>Contact Us</h2>
                            </div>
                            <ul class="social-links">
                                <li><a href="mailto:{{ site.mail}}"><i class="fa fa-envelope"></i></a></li>
                                <li><a href="{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="{{ site.insta }}"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="{{ site.fb }}"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div> <!-- end row -->
            </div> <!-- end container -->
        </footer>
        <!-- end footer -->