        <!-- start fun-fact -->
        <section class="fun-fact fun-fact-s2 parallax" data-bg-image="images/about-1.jpg" data-speed="3">
            <div class="container">
                <div class="row content start-count">
                    <div class="col col-sm-3 col-xs-6">
                        <div class="grid">
                            <div class="circle-data">
                                <span class="counter" data-count="{{site.years}}">00</span>
                            </div>
                            <h3>Years of Experiences</h3>
                        </div>
                    </div>

                    <div class="col col-sm-3 col-xs-6">
                        <div class="grid">
                            <div class="circle-data">
                                <span class="counter" data-count="{{site.volunteers}}">00</span>
                            </div>
                            <h3>Volunteers</h3>
                        </div>
                    </div>

                    <div class="col col-sm-3 col-xs-6">
                        <div class="grid">
                            <div class="circle-data">
                                <span class="counter" data-count="{{site.events}}">00</span>
                            </div>
                            <h3>Events</h3>
                        </div>
                    </div>

                    <div class="col col-sm-3 col-xs-6">
                        <div class="grid">
                            <div class="circle-data">
                                <span class="counter" data-count="{{site.assoc}}">00</span>
                            </div>
                            <h3>Partners</h3>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end fun-fact -->
