        <!-- Start header -->
        <header class="site-header header-style1">

            <!-- start topbar -->
            <div class="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col col-lg-8 col-md-7 col-sm-6 info">
                            <ul>
                                <li><i class="fi flaticon-envelope-of-white-paper"></i> {{site.mail}}</li>
                                <li><i class="fi flaticon-cellphone"></i> {{site.phno}}</li>
                            </ul>
                        </div>
                        <div class="col col-lg-4 col-md-5 col-sm-6">
                            <div class="social-follow-donate">
                                <div class="social-follow">
                                    <span>Follow us</span>
                                    <ul class="social-links">
                                        <li><a href="{{site.insta}}"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="{{site.fb}}"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="{{site.linkedin}}"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                                <!-- <div class="donate">
                                    <a href="#"><i class="fi flaticon-money-4"></i> Donate</a>
                                </div> -->
                            </div>
                        </div>
                    </div> <!-- end row -->
                </div> <!-- end container -->
            </div>
            <!-- end topbar -->
            {% include navigation.html %}
        </header>
        <!-- end of header -->