        <!-- start cta -->
        <section class="cta parallax" data-speed="3">
            <div class="container">
                <div class="row">
                    <div class="col col-md-8 left-col">
                        <h3>Subscribe to our newsletter for <span>news</span> and <span>updates</span></h3>
                    </div>
                    <div class="col col-md-4">
                        <form class="form">
                            <div class="text-fild">
                                <input type="text" class="form-control" placeholder="email address..">
                                <button type="submit" class="submit-btn"><i class="fa fa-arrow-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end cta -->