<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

    <!-- start page-wrapper -->
    <div class="page-wrapper">

        <!-- start preloader -->
        <div class="preloader">
            <div>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <!-- end preloader -->

        <!-- Start header -->
        <header class="site-header header-style3">
            {% include navigation.html %}
        </header> <!-- end of header -->
    
        <!-- start of hero -->   
        <section class="hero hero-slider-wrapper hero-slider-s3">
            <div class="hero-slider">
                <div class="slide">
                    <img src="images/front_bg.jpg" alt class="slider-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 slide-caption">
                                <h1>Be Together.Grow Together.</h1>
                                <p>Help us to plant trees around the world and save the mothernature from unwanted disasters. Millions of innocent lives we lost every year because of disasters</p>
                                <a href="#" class="btn theme-btn-s4">Join events <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slide row">
                    <img src="images/front_bg.jpg" alt class="slider-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 slide-caption">
                                <h1>Commit to your Social Debt.</h1>
                                <p>Help us to plant trees around the world and save the mothernature from unwanted disasters. Millions of innocent lives we lost every year because of disasters</p>
                                <a href="#" class="btn theme-btn-s4">Join events <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slide row">
                        <img src="images/front_bg.jpg" alt class="slider-bg">
                        <div class="container">
                            <div class="row">
                                <div class="col col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 slide-caption">
                                    <h1>Let the heart Smile.</h1>
                                    <p>Help us to plant trees around the world and save the mothernature from unwanted disasters. Millions of innocent lives we lost every year because of disasters</p>
                                    <a href="#" class="btn theme-btn-s4">Join events <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
        <!-- end of hero slider -->


        <!-- start causes-s3 -->
        <section class="causes-s3 section-padding">
            <div class="container">
                <div class="causes-s3-grids causes-s3-slider carousel-dots-with-nav">
                    {% for cause in site.causes %}
                    <div class="grid">
                        <div class="img-holder">
                            <a href="images/causes/{{cause.bg}}" class="fancybox"><i class="fa fa-link"></i></a>
                            <img src="images/causes/thumbs/{{cause.bg}}" alt class="img img-responsive">
                        </div>
                        <div class="details">
                            <h3><a href="{{cause.url}}">{{cause.title}}</a></h3>

                            <div class="meter-3" data-value="{{cause.percent}}">
                                <span></span>
                            </div>

                            <div class="goal-raised">
                                <div>
                                    <h4>Raised</h4>
                                    <span>{{cause.current}}</span>
                                </div>
                                <div>
                                    <h4>Goal</h4>
                                    <span>{{cause.total}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end causes-s3 -->


        <!-- start charity-categories-section -->
        <section class="charity-categories-section section-padding">
            <div class="container">
                <div class="row section-title">
                    <div class="col col-md-8 col-md-offset-2">
                        <h2>Charity categories</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    </div>
                </div> <!-- end section-title -->
        
                <div class="row charity-categories-section-grids">
                    <div class="col col-md-4 col-sm-6">
                        <div class="grid">
                            <div class="icon">
                                <i class="fi flaticon-sprout"></i>
                            </div>
                            <div class="info">
                                <h3><a href="#">Tree plantation</a></h3>
                                <p>Icididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation..</p>
                                <a href="#" class="details">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-6">
                        <div class="grid">
                            <div class="icon">
                                <i class="fi flaticon-house"></i>
                            </div>
                            <div class="info">
                                <h3><a href="#">Emergency Shelter</a></h3>
                                <p>Icididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation..</p>
                                <a href="#" class="details">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-6">
                        <div class="grid">
                            <div class="icon">
                                <i class="fi flaticon-hot-air-baloon-flying"></i>
                            </div>
                            <div class="info">
                                <h3><a href="#">Children At Risk</a></h3>
                                <p>Icididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation..</p>
                                <a href="#" class="details">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-6">
                        <div class="grid">
                            <div class="icon">
                                <i class="fi flaticon-water"></i>
                            </div>
                            <div class="info">
                                <h3><a href="#">Water Charity</a></h3>
                                <p>Icididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation..</p>
                                <a href="#" class="details">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-6">
                        <div class="grid">
                            <div class="icon">
                                <i class="fi flaticon-medical-1"></i>
                            </div>
                            <div class="info">
                                <h3><a href="#">AIDS awareness </a></h3>
                                <p>Icididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation..</p>
                                <a href="#" class="details">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-6">
                        <div class="grid">
                            <div class="icon">
                                <i class="fi flaticon-global-warming"></i>
                            </div>
                            <div class="info">
                                <h3><a href="#">Global Warming</a></h3>
                                <p>Icididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation..</p>
                                <a href="#" class="details">Details</a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end charity-categories-section -->


        <!-- start about-company-section-s2 -->
        <section class="about-company-section-s2 section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-6 left-col">
                        <div class="about-company">
                            <span>About the company</span>
                            <h2>Charity World is a simple, replicable and scalable approach with proven success towards humanity.</h2>
                            <p>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.</p>
                        </div>

                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">1. What charity do you specialize in? <i class="fa fa-angle-down"></i></a>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="img-holder">
                                            <img src="images/faq/img-1.jpg" alt>
                                        </div>
                                        <p>Having said that, we believe that the value we bring to the table is not industry expertise  which you already possess in abundance but rather an understanding of what investors like to see in a potential.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. Can you guarantee that our donation will be used well? <i class="fa fa-angle-down"></i></a>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="img-holder">
                                            <img src="images/faq/img-1.jpg" alt>
                                        </div>
                                        <p>Having said that, we believe that the value we bring to the table is not industry expertise  which you already possess in abundance but rather an understanding of what investors like to see in a potential opportunity.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3.How to be a volunteer? <i class="fa fa-angle-down"></i></a>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="img-holder">
                                            <img src="images/faq/img-1.jpg" alt>
                                        </div>
                                        <p>Having said that, we believe that the value we bring to the table is not industry expertise  which you already possess in abundance but rather an understanding of what investors like to see in a potential opportunity.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-lg-6 right-col">
                        <div class="help">
                            <div class="img-holder">
                                <img src="images/about-company-s2.jpg" alt class="img img-responsive">
                            </div>
                            <a href="https://www.youtube.com/embed/opj24KnzrWo?autoplay=1" class="video-play" data-type="iframe"><i class="fa fa-play-circle"></i> Play Video</a>
                        </div>

                        <ul class="list-info">
                            <li>
                                <div class="info-box">
                                    <span class="icon">
                                        <i class="fi flaticon-medical"></i>
                                    </span>
                                    <div class="details">
                                        <h4>01</h4>
                                        <span>Purpose</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="info-box">
                                    <span class="icon">
                                        <i class="fi fi flaticon-people-1"></i>
                                    </span>
                                    <div class="details">
                                        <h4>1.18 k</h4>
                                        <span>Volunteers</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="info-box">
                                    <span class="icon">
                                        <i class="fi flaticon-coins-1"></i>
                                    </span>
                                    <div class="details">
                                        <h4>2.40 m</h4>
                                        <span>Donation</span>
                                    </div>
                                    
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end about-company-section-s2 -->


        <!-- start events-section -->
        <section class="events-section section-padding">
            <div class="container">
                <div class="row section-title">
                    <div class="col col-md-8 col-md-offset-2">
                        <h2>Top events</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    </div>
                </div> <!-- end section-title -->
        
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="events-tab">
                            <div class="tablist">
                                <ul class="nav">
                                    <li class="active">
                                        <a href="#one" data-toggle="tab">Feb</a>
                                    </li>
                                    <li>
                                        <a href="#two" data-toggle="tab">Mar</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#three" data-toggle="tab">Apr</a>
                                    </li>
                                    <li>
                                        <a href="#four" data-toggle="tab">May</a>
                                    </li>
                                    <li>
                                        <a href="#five" data-toggle="tab">June</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="one">
                                    <div class="event-row">
                                        <div class="date">
                                            <div class="calendar-icon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <h5>18 Feb <span>2018</span></h5>
                                        </div>
                                        <div class="event-details">
                                            <h3><a href="#">Senior Citizen Facility Moving</a></h3>
                                            <ul class="info">
                                                <li><i class="fa fa-clock-o"></i> 09:00 am</li>
                                                <li><i class="fa fa-map-marker"></i> 244 Fletcher Dr, Gainesville, FL 32603</li>
                                            </ul>
                                        </div>
                                        <div class="event-pic">
                                            <img src="images/top-events/img-1.jpg" alt>
                                        </div>
                                    </div>
                                    <div class="event-row">
                                        <div class="date">
                                            <div class="calendar-icon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <h5>22 Feb <span>2018</span></h5>
                                        </div>
                                        <div class="event-details">
                                            <h3><a href="#">Summertime Cloth Donation Charity Event</a></h3>
                                            <ul class="info">
                                                <li><i class="fa fa-clock-o"></i> 09:00 am</li>
                                                <li><i class="fa fa-map-marker"></i> 244 Fletcher Dr, Gainesville, FL 32603</li>
                                            </ul>
                                        </div>
                                        <div class="event-pic">
                                            <img src="images/top-events/img-2.jpg" alt>
                                        </div>
                                    </div>
                                    <div class="event-row">
                                        <div class="date">
                                            <div class="calendar-icon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <h5>23 Feb <span>2018</span></h5>
                                        </div>
                                        <div class="event-details">
                                            <h3><a href="#">Brighton Marathon for Cancer Fighting Patient</a></h3>
                                            <ul class="info">
                                                <li><i class="fa fa-clock-o"></i> 09:00 am</li>
                                                <li><i class="fa fa-map-marker"></i> 244 Fletcher Dr, Gainesville, FL 32603</li>
                                            </ul>
                                        </div>
                                        <div class="event-pic">
                                            <img src="images/top-events/img-3.jpg" alt>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="two">
                                    <div class="event-row">
                                        <div class="date">
                                            <div class="calendar-icon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <h5>18 March <span>2018</span></h5>
                                        </div>
                                        <div class="event-details">
                                            <h3><a href="#">Summertime Cloth Donation Charity Event</a></h3>
                                            <ul class="info">
                                                <li><i class="fa fa-clock-o"></i> 09:00 am</li>
                                                <li><i class="fa fa-map-marker"></i> 244 Fletcher Dr, Gainesville, FL 32603</li>
                                            </ul>
                                        </div>
                                        <div class="event-pic">
                                            <img src="images/top-events/img-2.jpg" alt>
                                        </div>
                                    </div>
                                    <div class="event-row">
                                        <div class="date">
                                            <div class="calendar-icon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <h5>22 March <span>2018</span></h5>
                                        </div>
                                        <div class="event-details">
                                            <h3><a href="#">Senior Citizen Facility Moving</a></h3>
                                            <ul class="info">
                                                <li><i class="fa fa-clock-o"></i> 09:00 am</li>
                                                <li><i class="fa fa-map-marker"></i> 244 Fletcher Dr, Gainesville, FL 32603</li>
                                            </ul>
                                        </div>
                                        <div class="event-pic">
                                            <img src="images/top-events/img-1.jpg" alt>
                                        </div>
                                    </div>
                                    <div class="event-row">
                                        <div class="date">
                                            <div class="calendar-icon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <h5>23 march <span>2018</span></h5>
                                        </div>
                                        <div class="event-details">
                                            <h3><a href="#">Brighton Marathon for Cancer Fighting Patient</a></h3>
                                            <ul class="info">
                                                <li><i class="fa fa-clock-o"></i> 09:00 am</li>
                                                <li><i class="fa fa-map-marker"></i> 244 Fletcher Dr, Gainesville, FL 32603</li>
                                            </ul>
                                        </div>
                                        <div class="event-pic">
                                            <img src="images/top-events/img-3.jpg" alt>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="three">
                                    <div class="event-row">
                                        <div class="date">
                                            <div class="calendar-icon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <h5>18 april <span>2018</span></h5>
                                        </div>
                                        <div class="event-details">
                                            <h3><a href="#">Senior Citizen Facility Moving</a></h3>
                                            <ul class="info">
                                                <li><i class="fa fa-clock-o"></i> 09:00 am</li>
                                                <li><i class="fa fa-map-marker"></i> 244 Fletcher Dr, Gainesville, FL 32603</li>
                                            </ul>
                                        </div>
                                        <div class="event-pic">
                                            <img src="images/top-events/img-1.jpg" alt>
                                        </div>
                                    </div>
                                    <div class="event-row">
                                        <div class="date">
                                            <div class="calendar-icon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <h5>22 april <span>2018</span></h5>
                                        </div>
                                        <div class="event-details">
                                            <h3><a href="#">Summertime Cloth Donation Charity Event</a></h3>
                                            <ul class="info">
                                                <li><i class="fa fa-clock-o"></i> 09:00 am</li>
                                                <li><i class="fa fa-map-marker"></i> 244 Fletcher Dr, Gainesville, FL 32603</li>
                                            </ul>
                                        </div>
                                        <div class="event-pic">
                                            <img src="images/top-events/img-2.jpg" alt>
                                        </div>
                                    </div>
                                    <div class="event-row">
                                        <div class="date">
                                            <div class="calendar-icon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <h5>23 april <span>2018</span></h5>
                                        </div>
                                        <div class="event-details">
                                            <h3><a href="#">Brighton Marathon for Cancer Fighting Patient</a></h3>
                                            <ul class="info">
                                                <li><i class="fa fa-clock-o"></i> 09:00 am</li>
                                                <li><i class="fa fa-map-marker"></i> 244 Fletcher Dr, Gainesville, FL 32603</li>
                                            </ul>
                                        </div>
                                        <div class="event-pic">
                                            <img src="images/top-events/img-3.jpg" alt>
                                        </div>
                                    </div>                                    
                                </div>

                                <div class="tab-pane fade" id="four">
                                    <div class="event-row">
                                        <div class="date">
                                            <div class="calendar-icon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <h5>18 May <span>2018</span></h5>
                                        </div>
                                        <div class="event-details">
                                            <h3><a href="#">Senior Citizen Facility Moving</a></h3>
                                            <ul class="info">
                                                <li><i class="fa fa-clock-o"></i> 09:00 am</li>
                                                <li><i class="fa fa-map-marker"></i> 244 Fletcher Dr, Gainesville, FL 32603</li>
                                            </ul>
                                        </div>
                                        <div class="event-pic">
                                            <img src="images/top-events/img-2.jpg" alt>
                                        </div>
                                    </div>
                                    <div class="event-row">
                                        <div class="date">
                                            <div class="calendar-icon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <h5>22 May <span>2018</span></h5>
                                        </div>
                                        <div class="event-details">
                                            <h3><a href="#">Summertime Cloth Donation Charity Event</a></h3>
                                            <ul class="info">
                                                <li><i class="fa fa-clock-o"></i> 09:00 am</li>
                                                <li><i class="fa fa-map-marker"></i> 244 Fletcher Dr, Gainesville, FL 32603</li>
                                            </ul>
                                        </div>
                                        <div class="event-pic">
                                            <img src="images/top-events/img-1.jpg" alt>
                                        </div>
                                    </div>
                                    <div class="event-row">
                                        <div class="date">
                                            <div class="calendar-icon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <h5>23 may <span>2018</span></h5>
                                        </div>
                                        <div class="event-details">
                                            <h3><a href="#">Brighton Marathon for Cancer Fighting Patient</a></h3>
                                            <ul class="info">
                                                <li><i class="fa fa-clock-o"></i> 09:00 am</li>
                                                <li><i class="fa fa-map-marker"></i> 244 Fletcher Dr, Gainesville, FL 32603</li>
                                            </ul>
                                        </div>
                                        <div class="event-pic">
                                            <img src="images/top-events/img-3.jpg" alt>
                                        </div>
                                    </div>                                    
                                </div>

                                <div class="tab-pane fade" id="five">
                                    <div class="event-row">
                                        <div class="date">
                                            <div class="calendar-icon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <h5>18 June <span>2018</span></h5>
                                        </div>
                                        <div class="event-details">
                                            <h3><a href="#">Senior Citizen Facility Moving</a></h3>
                                            <ul class="info">
                                                <li><i class="fa fa-clock-o"></i> 09:00 am</li>
                                                <li><i class="fa fa-map-marker"></i> 244 Fletcher Dr, Gainesville, FL 32603</li>
                                            </ul>
                                        </div>
                                        <div class="event-pic">
                                            <img src="images/top-events/img-1.jpg" alt>
                                        </div>
                                    </div>
                                    <div class="event-row">
                                        <div class="date">
                                            <div class="calendar-icon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <h5>22 June <span>2018</span></h5>
                                        </div>
                                        <div class="event-details">
                                            <h3><a href="#">Summertime Cloth Donation Charity Event</a></h3>
                                            <ul class="info">
                                                <li><i class="fa fa-clock-o"></i> 09:00 am</li>
                                                <li><i class="fa fa-map-marker"></i> 244 Fletcher Dr, Gainesville, FL 32603</li>
                                            </ul>
                                        </div>
                                        <div class="event-pic">
                                            <img src="images/top-events/img-2.jpg" alt>
                                        </div>
                                    </div>
                                    <div class="event-row">
                                        <div class="date">
                                            <div class="calendar-icon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <h5>23 June <span>2018</span></h5>
                                        </div>
                                        <div class="event-details">
                                            <h3><a href="#">Brighton Marathon for Cancer Fighting Patient</a></h3>
                                            <ul class="info">
                                                <li><i class="fa fa-clock-o"></i> 09:00 am</li>
                                                <li><i class="fa fa-map-marker"></i> 244 Fletcher Dr, Gainesville, FL 32603</li>
                                            </ul>
                                        </div>
                                        <div class="event-pic">
                                            <img src="images/top-events/img-3.jpg" alt>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->

                <div class="more-events">
                    <a href="#" class="btn theme-btn-s4">More events <i class="fa fa-angle-right"></i></a>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end events-section -->

        {% include fun-fact.html %}

        <!-- start recent-blog -->
        <section class="recent-blog section-padding">
            <div class="container">
                <div class="row section-title">
                    <div class="col col-md-8 col-md-offset-2">
                        <h2>Recent news</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    </div>
                </div> <!-- end section-title -->
        
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="blog-grids recent-blog-slider carousel-dots-with-nav">
                            <div class="grid">
                                <div class="entry-media">
                                    <div class="img-holder">
                                        <img src="images/blog/img-3.jpg" alt class="img img-responsive">
                                    </div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">Non-profit</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="entry-body">
                                    <div class="entry-title">
                                        <h3><a href="#">“Clean Central Park 2017” Finished successfully</a></h3>
                                    </div>
                                    <div class="entry-meta">
                                        <ul>
                                            <li><a href="#">Aaron ramsey</a></li>
                                            <li><a href="#">19 Feb, 2018</a></li>
                                        </ul>
                                    </div>
                                    <div class="continue">
                                        <a href="#">Continue reading..</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="grid">
                                <div class="entry-media">
                                    <div class="img-holder">
                                        <img src="images/blog/img-2.jpg" alt class="img img-responsive">
                                    </div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">Non-profit</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="entry-body">
                                    <div class="entry-title">
                                        <h3><a href="#">10 photos of International Day of Charity</a></h3>
                                    </div>
                                    <div class="entry-meta">
                                        <ul>
                                            <li><a href="#">Aaron ramsey</a></li>
                                            <li><a href="#">19 Feb, 2018</a></li>
                                        </ul>
                                    </div>
                                    <div class="continue">
                                        <a href="#">Continue reading..</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="grid">
                                <div class="entry-media">
                                    <div class="img-holder">
                                        <img src="images/blog/img-1.jpg" alt class="img img-responsive">
                                    </div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">Non-profit</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="entry-body">
                                    <div class="entry-title">
                                        <h3><a href="#">“Clean Central Park 2017” Finished successfully</a></h3>
                                    </div>
                                    <div class="entry-meta">
                                        <ul>
                                            <li><a href="#">Aaron ramsey</a></li>
                                            <li><a href="#">19 Feb, 2018</a></li>
                                        </ul>
                                    </div>
                                    <div class="continue">
                                        <a href="#">Continue reading..</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="grid">
                                <div class="entry-media">
                                    <div class="img-holder">
                                        <img src="images/blog/img-2.jpg" alt class="img img-responsive">
                                    </div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">Non-profit</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="entry-body">
                                    <div class="entry-title">
                                        <h3><a href="#">10 photos of International Day of Charity</a></h3>
                                    </div>
                                    <div class="entry-meta">
                                        <ul>
                                            <li><a href="#">Aaron ramsey</a></li>
                                            <li><a href="#">19 Feb, 2018</a></li>
                                        </ul>
                                    </div>
                                    <div class="continue">
                                        <a href="#">Continue reading..</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="grid">
                                <div class="entry-media">
                                    <div class="img-holder">
                                        <img src="images/blog/img-3.jpg" alt class="img img-responsive">
                                    </div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">Non-profit</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="entry-body">
                                    <div class="entry-title">
                                        <h3><a href="#">“Clean Central Park 2017” Finished successfully</a></h3>
                                    </div>
                                    <div class="entry-meta">
                                        <ul>
                                            <li><a href="#">Aaron ramsey</a></li>
                                            <li><a href="#">19 Feb, 2018</a></li>
                                        </ul>
                                    </div>
                                    <div class="continue">
                                        <a href="#">Continue reading..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end recent-blog -->


        <!-- start products-section -->
        <section class="products-section section-padding">
            <div class="container">
                <div class="row section-title">
                    <h2>Latest Products</h2>
                </div> <!-- end section-title -->
        
                <div class="row products-grids">
                    <div class="col col-md-4 col-xs-6">
                        <div class="grid">
                            <div class="img-holder-info-list">
                                <div class="img-holder">
                                    <img src="images/shop/img-1.jpg" alt class="img img-responsive">
                                </div>
                                <div class="info-list">
                                    <div>
                                        <a href="#"><img src="images/shop/icons/icon-1.png" alt></a>
                                    </div>
                                    <div>
                                        <a href="#"><img src="images/shop/icons/icon-2.png" alt></a>
                                    </div>
                                    <div>
                                        <a href="#"><img src="images/shop/icons/icon-3.png" alt></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3><a href="#">Wooden Chair</a></h3>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <span class="price">$15.00</span>
                            </div>
                        </div>
                    </div>

                    <div class="col col-md-4 col-xs-6">
                        <div class="grid">
                            <div class="img-holder-info-list">
                                <div class="img-holder">
                                    <img src="images/shop/img-2.jpg" alt class="img img-responsive">
                                </div>
                                <div class="info-list">
                                    <div>
                                        <a href="#"><img src="images/shop/icons/icon-1.png" alt></a>
                                    </div>
                                    <div>
                                        <a href="#"><img src="images/shop/icons/icon-2.png" alt></a>
                                    </div>
                                    <div>
                                        <a href="#"><img src="images/shop/icons/icon-3.png" alt></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3><a href="#">Red Bag</a></h3>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <span class="price">$15.00</span>
                            </div>
                        </div>
                    </div>

                    <div class="col col-md-4 col-xs-6">
                        <div class="grid">
                            <div class="img-holder-info-list">
                                <div class="img-holder">
                                    <img src="images/shop/img-3.jpg" alt class="img img-responsive">
                                </div>
                                <div class="info-list">
                                    <div>
                                        <a href="#"><img src="images/shop/icons/icon-1.png" alt></a>
                                    </div>
                                    <div>
                                        <a href="#"><img src="images/shop/icons/icon-2.png" alt></a>
                                    </div>
                                    <div>
                                        <a href="#"><img src="images/shop/icons/icon-3.png" alt></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3><a href="#">Wrist Watch</a></h3>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <span class="price">$15.00</span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->

                <div class="see-all">
                    <a href="#" class="btn theme-btn-s4">Browse Shop <i class="fa fa-angle-right"></i></a>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end products-section -->

        {% include subscribe.html %}

        {% include partners.html %}

        {% include footer.html %}
        </div>
    <!-- end of page-wrapper -->

    {% include js.html %}
</body>
</html>
