<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

    <!-- start page-wrapper -->
    <div class="page-wrapper">

        <!-- start preloader -->
        <div class="preloader">
            <div>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <!-- end preloader -->

        <!-- Start header -->
        <header class="site-header header-style3">
            {% include navigation.html %}
        </header> <!-- end of header -->
    
        <!-- start of hero -->   
        <section class="hero hero-slider-wrapper hero-slider-s3">
            <div class="hero-slider">
                <div class="slide">
                    <img src="images/front_bg.jpg" alt class="slider-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 slide-caption">
                                <h1>Be Together.Grow Together.</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slide row">
                    <img src="images/front_bg.jpg" alt class="slider-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 slide-caption">
                                <h1>Commit to your Social Debt.</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slide row">
                        <img src="images/front_bg.jpg" alt class="slider-bg">
                        <div class="container">
                            <div class="row">
                                <div class="col col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 slide-caption">
                                    <h1>Let the heart Smile.</h1>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
        <!-- end of hero slider -->


        <!-- start causes-s3 -->
        <section class="causes-s3 section-padding">
            <div class="container">
                <div class="causes-s3-grids causes-s3-slider carousel-dots-with-nav">
                    {% for cause in site.causes %}
                    <div class="grid">
                        <div class="img-holder">
                            <a href="images/causes/{{cause.bg}}" class="fancybox"><i class="fa fa-link"></i></a>
                            <img src="images/causes/thumbs/{{cause.bg}}" alt class="img img-responsive">
                        </div>
                        <div class="details">
                            <h3><a href="{{cause.url}}">{{cause.title}}</a></h3>

                            <!-- <div class="meter-3" data-value="{{cause.percent}}">
                                <span></span>
                            </div>

                            <div class="goal-raised">
                                <div>
                                    <h4>Raised</h4>
                                    <span>{{cause.current}}</span>
                                </div>
                                <div>
                                    <h4>Goal</h4>
                                    <span>{{cause.total}}</span>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    {% endfor %}
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end causes-s3 -->


        <!-- start charity-categories-section -->
        <section class="charity-categories-section section-padding">
            <div class="container">
                <div class="row section-title">
                    <div class="col col-md-8 col-md-offset-2">
                        <h2>What we do?</h2>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p> -->
                    </div>
                </div> <!-- end section-title -->
        
                <div class="row charity-categories-section-grids">
                    <div class="col col-md-4 col-sm-6">
                        <div class="grid">
                            <div class="icon">
                                <i class="fi flaticon-sprout"></i>
                            </div>
                            <div class="info">
                                <h3><a href="#">Nurture <br> Uniqueness</a></h3>
                                <p>Icididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation..</p>
                                <a href="about.html" class="details">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-6">
                        <div class="grid">
                            <div class="icon">
                                <i class="fi flaticon-hot-air-baloon-flying"></i>
                            </div>
                            <div class="info">
                                <h3><a href="#">Generate <br> Opportunities</a></h3>
                                <p>Icididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation..</p>
                                <a href="about.html" class="details">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-6">
                        <div class="grid">
                            <div class="icon">
                                <i class="fi flaticon-house"></i>
                            </div>
                            <div class="info">
                                <h3><a href="#">Instil <br> Social Commitment</a></h3>
                                <p>Icididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation..</p>
                                <a href="about.html" class="details">Details</a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end charity-categories-section -->


        <!-- start about-company-section-s2 -->
        <section class="about-company-section-s2 section-padding">
            <div class="container">
                <div class="row">

                    <div class="col col-lg-12 right-col">
                        <div class="help">
                            <iframe width="1120" height="730" src="https://www.youtube.com/embed/t5ch538obl4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end about-company-section-s2 -->

        {% include fun-fact.html %}

        <!-- start recent-blog -->
        <!-- <section class="recent-blog section-padding">
            <div class="container">
                <div class="row section-title">
                    <div class="col col-md-8 col-md-offset-2">
                        <h2>Recent news</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="blog-grids recent-blog-slider carousel-dots-with-nav">
                            
                            <div class="grid">
                                <div class="entry-media">
                                    <div class="img-holder">
                                        <img src="images/blog/img-3.jpg" alt class="img img-responsive">
                                    </div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">Non-profit</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="entry-body">
                                    <div class="entry-title">
                                        <h3><a href="#">“Clean Central Park 2017” Finished successfully</a></h3>
                                    </div>
                                    <div class="entry-meta">
                                        <ul>
                                            <li><a href="#">Aaron ramsey</a></li>
                                            <li><a href="#">19 Feb, 2018</a></li>
                                        </ul>
                                    </div>
                                    <div class="continue">
                                        <a href="#">Continue reading..</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="grid">
                                <div class="entry-media">
                                    <div class="img-holder">
                                        <img src="images/blog/img-2.jpg" alt class="img img-responsive">
                                    </div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">Non-profit</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="entry-body">
                                    <div class="entry-title">
                                        <h3><a href="#">10 photos of International Day of Charity</a></h3>
                                    </div>
                                    <div class="entry-meta">
                                        <ul>
                                            <li><a href="#">Aaron ramsey</a></li>
                                            <li><a href="#">19 Feb, 2018</a></li>
                                        </ul>
                                    </div>
                                    <div class="continue">
                                        <a href="#">Continue reading..</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- end recent-blog -->

        {% include subscribe.html %}

        {% include partners.html %}

        {% include footer.html %}
        </div>
    <!-- end of page-wrapper -->

    {% include js.html %}
</body>
</html>
