<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

    <!-- start page-wrapper -->
    <div class="page-wrapper">

        <!-- start preloader -->
        <div class="preloader">
            <div>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <!-- end preloader -->

        {% include header.html %}

        <!-- start page-title-wrapper -->
        <section class="page-title-wrapper">
            <div class="page-title">
                <h1>Team</h1>
            </div>
            <div class="breadcrumb-wrapper">
                <div class="container">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>Team</li>
                    </ol>
                </div>
            </div>
        </section>
        <!-- end page-title-wrapper -->

        <!-- start volunteers-->
        <section class="volunteers section-padding">
            <div class="container">
                <div class="row section-title">
                    <div class="col col-md-8 col-md-offset-2">
                        <h2>Our Team</h2>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p> -->
                    </div>
                </div> <!-- end section-title -->
        
                <div class="row volunteers-grids">
                    {% for member in site.team %}
                    <div class="col col-lg-4 col-md-4 col-xs-4">
                        <div class="grid">
                            <div class="img-holder">
                                <img src="images/team/{{member.img}}" alt class="img img-responsive">
                            </div>
                            <div class="volunteers-details">
                                <h4>{{member.name}}</h4>
                                <span class="volunteers-post">{{member.title}}</span>
                                <ul class="social-links">
                                    {% if member.fb %}
                                    <li><a href="{{member.fb}}"><i class="fa fa-facebook"></i></a></li>
                                    {% endif %}
                                    {% if member.insta %}
                                    <li><a href="{{member.insta}}"><i class="fa fa-instagram"></i></a></li>
                                    {% endif %}
                                    {% if member.linkedin %}
                                    <li><a href="{{member.linkedin}}"><i class="fa fa-linkedin"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end volunteers-->
    
        {% include footer.html %}
    </div>
    <!-- end of page-wrapper -->

    {% include js.html %}
</body>
</html>
